# **AIN 214 - PA1 - FALL 2024**

**Student Number** : 2230765034

**Name Surname**   : Şeyma Doğan


BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

**Deadline: 18.10.2023 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import sqlite3

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* Use of naive for loops is not considered valid.

* For the db operations, use sqlite3 library in Python

# **PART- 1**

**Set of Questions on World Happiness Report Dataset (40 Pts)**

**Dataset Path: "Data/WorldHappinessReport.csv"**

# Q1. Basic Data Exploration **(10 Pts)**

1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 10th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [2]:
#1 Load the data into Pandas DataFrame and print the column names
world_hpy = pd.read_csv('Data/WorldHappinessReport.csv')
col_wh = world_hpy.columns
print(col_wh)

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [6]:
#2.1 Display the first 10 rows of the dataset.
world_hpy.head(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302

In [7]:
#2.2 Display the last 10 rows of the dataset.
world_hpy.tail(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
146,147,Malawi,3.587,0.186,0.541,0.306,0.531,0.210,0.080
147,148,Haiti,3.582,0.315,0.714,0.289,0.025,0.392,0.104
148,149,Liberia,3.495,0.076,0.858,0.267,0.419,0.206,0.030
149,150,Syria,3.462,0.689,0.382,0.539,0.088,0.376,0.144
150,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [8]:
#3 Display the random 10 rows
world_hpy.sample(n=10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
100,101,Nepal,4.880,0.425,1.228,0.539,0.526,0.302,0.078
84,85,Morocco,5.254,0.779,0.797,0.669,0.460,0.026,0.074
55,56,Jamaica,5.890,0.819,1.493,0.693,0.575,0.096,0.031
83,84,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135
87,88,Tajikistan,5.199,0.474,1.166,0.598,0.292,0.187,0.034
113,114,Congo (Brazzaville),4.559,0.682,0.811,0.343,0.514,0.091,0.077
41,42,Poland,6.123,1.176,1.448,0.781,0.546,0.108,0.064
148,149,Liberia,3.495,0.076,0.858,0.267,0.419,0.206,0.030
73,74,Turkey,5.483,1.148,1.380,0.686,0.324,0.106,0.109
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082

In [9]:
#4 sample using seed
np.random.seed(7)
world_hpy.sample(n=10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
90,91,Nigeria,5.155,0.689,1.172,0.048,0.462,0.201,0.032
76,77,Portugal,5.410,1.188,1.429,0.884,0.562,0.055,0.017
37,38,Trinidad & Tobago,6.192,1.223,1.492,0.564,0.575,0.171,0.019
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224
70,71,Philippines,5.524,0.775,1.312,0.513,0.643,0.120,0.105
147,148,Haiti,3.582,0.315,0.714,0.289,0.025,0.392,0.104
119,120,Cambodia,4.433,0.549,1.088,0.457,0.696,0.256,0.065
60,61,Cyprus,5.762,1.229,1.191,0.909,0.423,0.202,0.035
46,47,Italy,6.000,1.264,1.501,0.946,0.281,0.137,0.028
65,66,Kosovo,5.662,0.855,1.230,0.578,0.448,0.274,0.023

In [10]:
#5 Display every 10th row
for i in range(0,len(world_hpy) ,10):
    print(world_hpy.iloc[i])

Overall rank                          1
Country or region               Finland
Score                             7.632
GDP per capita                    1.305
Social support                    1.592
Healthy life expectancy           0.874
Freedom to make life choices      0.681
Generosity                        0.202
Perceptions of corruption         0.393
Name: 0, dtype: object
Overall rank                                11
Country or region               United Kingdom
Score                                     7.19
GDP per capita                           1.244
Social support                           1.433
Healthy life expectancy                  0.888
Freedom to make life choices             0.464
Generosity                               0.262
Perceptions of corruption                0.082
Name: 10, dtype: object
Overall rank                                21
Country or region               Czech Republic
Score                                    6.711
GDP per capita                           1.233
Social support                           1.489
Healthy life expectancy                  0.854
Freedom to make life choices             0.543
Generosity                               0.064
Perceptions of corruption                0.034
Name: 20, dtype: object
Overall rank                         31
Country or region               Uruguay
Score                             6.379
GDP per capita                    1.093
Social support                    1.459
Healthy life expectancy           0.771
Freedom to make life choices      0.625
Generosity                         0.13
Perceptions of corruption         0.155
Name: 30, dtype: object
Overall rank                           41
Country or region               Nicaragua
Score                               6.141
GDP per capita                      0.668
Social support                      1.319
Healthy life expectancy               0.7
Freedom to make life choices        0.527
Generosity                          0.208
Perceptions of corruption           0.128
Name: 40, dtype: object
Overall rank                          51
Country or region               Slovenia
Score                              5.948
GDP per capita                     1.219
Social support                     1.506
Healthy life expectancy            0.856
Freedom to make life choices       0.633
Generosity                          0.16
Perceptions of corruption          0.051
Name: 50, dtype: object
Overall rank                        61
Country or region               Cyprus
Score                            5.762
GDP per capita                   1.229
Social support                   1.191
Healthy life expectancy          0.909
Freedom to make life choices     0.423
Generosity                       0.202
Perceptions of corruption        0.035
Name: 60, dtype: object
Overall rank                             71
Country or region               Philippines
Score                                 5.524
GDP per capita                        0.775
Social support                        1.312
Healthy life expectancy               0.513
Freedom to make life choices          0.643
Generosity                             0.12
Perceptions of corruption             0.105
Name: 70, dtype: object
Overall rank                            81
Country or region               Montenegro
Score                                5.347
GDP per capita                       1.017
Social support                       1.279
Healthy life expectancy              0.729
Freedom to make life choices         0.259
Generosity                           0.111
Perceptions of corruption            0.081
Name: 80, dtype: object
Overall rank                         91
Country or region               Nigeria
Score                             5.155
GDP per capita                    0.689
Social support                    1.172
Healthy life expectancy           0.048
Freedom to make life choices      0.462
Generosity                        0.201
Perceptions of corruption         0.032
Name: 90, dtype: object
Overall rank                      101
Country or region               Nepal
Score                            4.88
GDP per capita                  0.425
Social support                  1.228
Healthy life expectancy         0.539
Freedom to make life choices    0.526
Generosity                      0.302
Perceptions of corruption       0.078
Name: 100, dtype: object
Overall rank                        111
Country or region               Tunisia
Score                             4.592
GDP per capita                      0.9
Social support                    0.906
Healthy life expectancy            0.69
Freedom to make life choices      0.271
Generosity                         0.04
Perceptions of corruption         0.063
Name: 110, dtype: object
Overall rank                             121
Country or region               Burkina Faso
Score                                  4.424
GDP per capita                         0.314
Social support                         1.097
Healthy life expectancy                0.254
Freedom to make life choices           0.312
Generosity                             0.175
Perceptions of corruption              0.128
Name: 120, dtype: object
Overall rank                      131
Country or region                Chad
Score                           4.301
GDP per capita                  0.358
Social support                  0.907
Healthy life expectancy         0.053
Freedom to make life choices    0.189
Generosity                      0.181
Perceptions of corruption        0.06
Name: 130, dtype: object
Overall rank                        141
Country or region               Lesotho
Score                             3.808
GDP per capita                    0.472
Social support                    1.215
Healthy life expectancy           0.079
Freedom to make life choices      0.423
Generosity                        0.116
Perceptions of corruption         0.112
Name: 140, dtype: object
Overall rank                       151
Country or region               Rwanda
Score                            3.408
GDP per capita                   0.332
Social support                   0.896
Healthy life expectancy            0.4
Freedom to make life choices     0.636
Generosity                         0.2
Perceptions of corruption        0.444
Name: 150, dtype: object

In [11]:
#6 Get the summary stats of the dataset regarding each column
world_hpy.describe(include='all')

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
unique,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,78.500000,NaN,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,NaN,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,NaN,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,NaN,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,NaN,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,NaN,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,NaN,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [12]:
#7 Identify and count the number of missing values in each column
world_hpy.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

# Q2. Basic Data Statistics: **(10 Pts)**

1. Calculate the mean, median, and standard deviation of the happiness Score across all countries. **(1 Pts)**
2. Identify the top 5 happiest countries and the bottom 5 least happy countries based on happiness Score. **(1 Pts)**
3. Find the country with the highest Healthy Life Expectancy. What is the corresponding happiness Score? **(2 Pts)**
4. Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6. **(2 Pts)**
5. Are there any countries where Generosity is higher than Social Support? List them. **(2 Pts)**
6. What is the range (max-min) of GDP per Capita values in the dataset? **(2 Pts)**

In [13]:
#1 The mean, median, and standard deviation of the happiness Score across all countries

mean_score = world_hpy['Score'].mean() # average
median_score = world_hpy['Score'].median() # middle one
standart_score = world_hpy['Score'].std() # standart sapma

print("Mean Score: " ,mean_score)
print("Median Score: " ,median_score)
print("Standart Score: " ,standart_score)

Mean Score:  5.375916666666667
Median Score:  5.378
Standart Score:  1.119505852731943

In [14]:
#2 The top 5 happiest countries and the bottom 5 least happy countries based on happiness Score

top5_happy =world_hpy.nlargest(5, 'Score')
bot5_happy =world_hpy.nsmallest(5, 'Score')

print("Top 5 happiest countries:\n", top5_happy)
print("Bottom 5 least happy countries:\n", bot5_happy)

Top 5 happiest countries:
    Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.632           1.305           1.592
1             2            Norway  7.594           1.456           1.582
2             3           Denmark  7.555           1.351           1.590
3             4           Iceland  7.495           1.343           1.644
4             5       Switzerland  7.487           1.420           1.549

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.874                         0.681       0.202
1                    0.861                         0.686       0.286
2                    0.868                         0.683       0.284
3                    0.914                         0.677       0.353
4                    0.927                         0.660       0.256

   Perceptions of corruption
0                      0.393
1                      0.340
2                      0.408
3                      0.138
4                      0.357
Bottom 5 least happy countries:
      Overall rank         Country or region  Score  GDP per capita  \
155           156                   Burundi  2.905           0.091
154           155  Central African Republic  3.083           0.024
153           154               South Sudan  3.254           0.337
152           153                  Tanzania  3.303           0.455
151           152                     Yemen  3.355           0.442

     Social support  Healthy life expectancy  Freedom to make life choices  \
155           0.627                    0.145                         0.065
154           0.000                    0.010                         0.305
153           0.608                    0.177                         0.112
152           0.991                    0.381                         0.481
151           1.073                    0.343                         0.244

     Generosity  Perceptions of corruption
155       0.149                      0.076
154       0.218                      0.038
153       0.224                      0.106
152       0.270                      0.097
151       0.083                      0.064

In [15]:
#3 The country with the highest Healthy Life Expectancy and its corresponding happiness Score

top1_healthy =world_hpy.nlargest(1, 'Healthy life expectancy')
print(top1_healthy[['Country or region','Score']])

   Country or region  Score
75         Hong Kong   5.43

In [16]:
#4 Calculates the average Corruption Perceptions for countries with a happiness Score greater than 6. 

map1 = world_hpy['Score'] > 6 
Per_of_cor = world_hpy[map1] 
avg_CP = Per_of_cor['Perceptions of corruption'].mean()
print("The average Corruption Perceptions for countries with a happiness Score greater than 6:\n",avg_CP)

The average Corruption Perceptions for countries with a happiness Score greater than 6:
 0.1782888888888889

In [17]:
#5 Countries where Generosity is higher than Social Support as a list

map2 = world_hpy['Generosity'] > world_hpy['Social support'] 
world_hpy[map2]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
154,155,Central African Republic,3.083,0.024,0.0,0.01,0.305,0.218,0.038

In [18]:
#6 The range (max-min) of GDP per Capita values in the dataset 

max_gdp_index = world_hpy['GDP per capita'].idxmax()
max_gdp_row = world_hpy.loc[max_gdp_index]
print("Max of GDP per Capita:\n",max_gdp_row,"\n")

min_gdp_index = world_hpy['GDP per capita'].idxmin()
min_gdp_row = world_hpy.loc[min_gdp_index]
print("Min of GDP per Capita:\n",min_gdp_row)

Max of GDP per Capita:
 Overall rank                                      20
Country or region               United Arab Emirates
Score                                          6.774
GDP per capita                                 2.096
Social support                                 0.776
Healthy life expectancy                         0.67
Freedom to make life choices                   0.284
Generosity                                     0.186
Perceptions of corruption                        NaN
Name: 19, dtype: object

Min of GDP per Capita:
 Overall rank                         98
Country or region               Somalia
Score                             4.982
GDP per capita                      0.0
Social support                    0.712
Healthy life expectancy           0.115
Freedom to make life choices      0.674
Generosity                        0.238
Perceptions of corruption         0.282
Name: 97, dtype: object

# Q3. Data Filtering **(20 Pts)**

1. How many countries have a Happiness Score greater than 7.5? List their names.**(2 Pts)**
2. List all countries where the Corruption Perception score is below 0.2. **(2 Pts)**
3. Filter and list the top 5 countries by Generosity. What is their average Happiness Score? **(2 Pts)**
4. Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries. **(2 Pts)**
5. Filter countries where Social Support is higher than Freedom to Make Life **(2 Pts)**
6. Find countries in the top 10% of Healthy Life Expectancy and list their names. **(2 Pts)**
7. Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries? **(2 Pts)**
8.  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries? **(3 Pts)**
9. Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there? **(3 Pts)**

In [19]:
#1 Countries that have Happiness Score greater than 7.5
map3 = world_hpy['Score'] > 7.5
nm_map3 = world_hpy[map3]

print("Countries that have Happiness Score greater than 7.5: \n", nm_map3['Country or region'])

Countries that have Happiness Score greater than 7.5:
 0    Finland
1     Norway
2    Denmark
Name: Country or region, dtype: object

In [20]:
#2 List of countries where the Corruption Perception score is below 0.2
map4 = world_hpy['Perceptions of corruption'] < 0.2
nm_map4 = world_hpy[map4]

print("List of countries where the Corruption Perception score is below 0.2:\n", nm_map4)

List of countries where the Corruption Perception score is below 0.2:
      Overall rank         Country or region  Score  GDP per capita  \
3               4                   Iceland  7.495           1.343
10             11            United Kingdom  7.190           1.244
12             13                Costa Rica  7.072           1.010
17             18             United States  6.886           1.398
20             21            Czech Republic  6.711           1.233
..            ...                       ...    ...             ...
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
3             1.644                    0.914                         0.677
10            1.433                    0.888                         0.464
12            1.459                    0.817                         0.632
17            1.471                    0.819                         0.547
20            1.489                    0.854                         0.543
..              ...                      ...                           ...
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
3         0.353                      0.138
10        0.262                      0.082
12        0.143                      0.101
17        0.291                      0.133
20        0.064                      0.034
..          ...                        ...
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

[134 rows x 9 columns]

In [21]:
#3 List of the top 5 country by Generosity and their average Happiness Score 

top5_geno = world_hpy.nlargest(5, 'Generosity')
row_top5geno = top5_geno['Score'].mean() 
print(top5_geno['Country or region']) 
print("Top 5 country by Generosity and their average Happiness Score: ",row_top5geno)

129      Myanmar
95     Indonesia
147        Haiti
21         Malta
149        Syria
Name: Country or region, dtype: object
Top 5 country by Generosity and their average Happiness Score:  4.6144

In [22]:
#4 List of countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4

world_hpy[(world_hpy['GDP per capita'] < 0.5)  & (world_hpy['Score']>4)]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
87,88,Tajikistan,5.199,0.474,1.166,0.598,0.292,0.187,0.034
97,98,Somalia,4.982,0.000,0.712,0.115,0.674,0.238,0.282
100,101,Nepal,4.880,0.425,1.228,0.539,0.526,0.302,0.078
108,109,Senegal,4.631,0.429,1.117,0.433,0.406,0.138,0.082
112,113,Sierra Leone,4.571,0.256,0.813,0.000,0.355,0.238,0.053
117,118,Mali,4.447,0.370,1.233,0.152,0.367,0.139,0.056
120,121,Burkina Faso,4.424,0.314,1.097,0.254,0.312,0.175,0.128
122,123,Mozambique,4.417,0.198,0.902,0.173,0.531,0.206,0.158
123,124,Kenya,4.410,0.493,1.048,0.454,0.504,0.352,0.055
126,127,Ethiopia,4.350,0.308,0.950,0.391,0.452,0.220,0.146
130,131,Chad,4.301,0.358,0.907,0.053,0.189,0.181,0.060
131,132,Congo (Kinshasa),4.245,0.069,1.136,0.204,0.312,0.197,0.052
133,134,Niger,4.166,0.131,0.867,0.221,0.390,0.175,0.099
134,135,Uganda,4.161,0.322,1.090,0.237,0.450,0.259,0.061
135,136,Benin,4.141,0.378,0.372,0.240,0.440,0.163,0.067

In [23]:
#5 Countries where Social Support is higher than Freedom to Make Life
map5 = world_hpy['Social support'] > world_hpy['Freedom to make life choices']
print("Countries where Social Support is higher than Freedom to Make Life:\n", world_hpy[map5])

Countries where Social Support is higher than Freedom to Make Life:
      Overall rank Country or region  Score  GDP per capita  Social support  \
0               1           Finland  7.632           1.305           1.592
1               2            Norway  7.594           1.456           1.582
2               3           Denmark  7.555           1.351           1.590
3               4           Iceland  7.495           1.343           1.644
4               5       Switzerland  7.487           1.420           1.549
..            ...               ...    ...             ...             ...
150           151            Rwanda  3.408           0.332           0.896
151           152             Yemen  3.355           0.442           1.073
152           153          Tanzania  3.303           0.455           0.991
153           154       South Sudan  3.254           0.337           0.608
155           156           Burundi  2.905           0.091           0.627

     Healthy life expectancy  Freedom to make life choices  Generosity  \
0                      0.874                         0.681       0.202
1                      0.861                         0.686       0.286
2                      0.868                         0.683       0.284
3                      0.914                         0.677       0.353
4                      0.927                         0.660       0.256
..                       ...                           ...         ...
150                    0.400                         0.636       0.200
151                    0.343                         0.244       0.083
152                    0.381                         0.481       0.270
153                    0.177                         0.112       0.224
155                    0.145                         0.065       0.149

     Perceptions of corruption
0                        0.393
1                        0.340
2                        0.408
3                        0.138
4                        0.357
..                         ...
150                      0.444
151                      0.064
152                      0.097
153                      0.106
155                      0.076

[154 rows x 9 columns]

In [24]:
#6 Countries that are in the top 10% of Healthy Life Expectancy and list of their names
top1_healthyy =world_hpy.nlargest(int(len(world_hpy)*0.1), 'Healthy life expectancy')
print(top1_healthyy[['Country or region','Healthy life expectancy']])

   Country or region  Healthy life expectancy
75         Hong Kong                    1.030
33         Singapore                    1.008
53             Japan                    0.988
35             Spain                    0.965
56       South Korea                    0.955
46             Italy                    0.946
4        Switzerland                    0.927
3            Iceland                    0.914
8             Sweden                    0.913
9          Australia                    0.910
57   Northern Cyprus                    0.909
60            Cyprus                    0.909
22            France                    0.908
6             Canada                    0.896
16        Luxembourg                    0.896

In [25]:
#7 Countries where Generosity is less than Social Support and the average Happiness Score of these countries

Soc_gen = world_hpy[world_hpy['Social support'] > world_hpy['Generosity']]
mean_socgen = Soc_gen['Score'].mean() 

print("Countries where Generosity is less than Social Support:\n",Soc_gen['Country or region'])
print("Average Happiness Score of these countries: ",mean_socgen)

Countries where Generosity is less than Social Support:
 0          Finland
1           Norway
2          Denmark
3          Iceland
4      Switzerland
          ...
150         Rwanda
151          Yemen
152       Tanzania
153    South Sudan
155        Burundi
Name: Country or region, Length: 155, dtype: object
Average Happiness Score of these countries:  5.390709677419355

In [26]:
#8 Countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries
med_hap = world_hpy[world_hpy['Score']< world_hpy['Score'].median()]

# Displays the common characteristics by calculating mean or median for relevant columns. For common characteristics I think mean values would give us information.
common_characteristics = med_hap[['Overall rank','Score','GDP per capita', 'Social support', 'Healthy life expectancy',
                                  'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']].mean()

print("Countries with a Happiness Score below the median happiness score: \n",med_hap['Country or region'])
print("There are ",len(med_hap),"countries with a Happiness Score below the median happiness score.\n")

print("Common characteristics of these countries (mean values):")
print(common_characteristics)

Countries with a Happiness Score below the median happiness score:
 78                       Greece
79                      Lebanon
80                   Montenegro
81                      Croatia
82           Dominican Republic
                 ...
151                       Yemen
152                    Tanzania
153                 South Sudan
154    Central African Republic
155                     Burundi
Name: Country or region, Length: 78, dtype: object
There are  78 countries with a Happiness Score below the median happiness score.

Common characteristics of these countries (mean values):
Overall rank                    117.500000
Score                             4.449321
GDP per capita                    0.621256
Social support                    1.019423
Healthy life expectancy           0.432962
Freedom to make life choices      0.386885
Generosity                        0.176705
Perceptions of corruption         0.088295
dtype: float64

In [27]:
#9.1 Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there
world_hpy[(world_hpy['Freedom to make life choices']> world_hpy['Freedom to make life choices'].median()) & 
          (world_hpy['Healthy life expectancy']> world_hpy['Healthy life expectancy'].median())]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
13,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280
15,16,Belgium,6.927,1.324,1.483,0.894,0.583,0.188,0.240
16,17,Luxembourg,6.910,1.576,1.520,0.896,0.632,0.196,0.321
17,18,United States,6.886,1.398,1.471,0.819,0.547,0.291,0.133
18,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272
20,21,Czech Republic,6.711,1.233,1.489,0.854,0.543,0.064,0.034
21,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142
22,23,France,6.489,1.293,1.466,0.908,0.520,0.098,0.176
26,27,Panama,6.430,1.112,1.438,0.759,0.597,0.125,0.063
27,28,Brazil,6.419,0.986,1.474,0.675,0.493,0.110,0.088
28,29,Argentina,6.388,1.073,1.468,0.744,0.570,0.062,0.054
30,31,Uruguay,6.379,1.093,1.459,0.771,0.625,0.130,0.155
31,32,Qatar,6.374,1.649,1.303,0.748,0.654,0.256,0.171
33,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457
40,41,Nicaragua,6.141,0.668,1.319,0.700,0.527,0.208,0.128
41,42,Poland,6.123,1.176,1.448,0.781,0.546,0.108,0.064
42,43,Bahrain,6.105,1.338,1.366,0.698,0.594,0.243,0.123
44,45,Kuwait,6.083,1.474,1.301,0.675,0.554,0.167,0.106
45,46,Thailand,6.072,1.016,1.417,0.707,0.637,0.364,0.029
47,48,Ecuador,5.973,0.889,1.330,0.736,0.556,0.114,0.120
50,51,Slovenia,5.948,1.219,1.506,0.856,0.633,0.160,0.051
51,52,Romania,5.945,1.116,1.219,0.726,0.528,0.088,0.001
53,54,Japan,5.915,1.294,1.462,0.988,0.553,0.079,0.150
54,55,Mauritius,5.891,1.090,1.387,0.684,0.584,0.245,0.050
55,56,Jamaica,5.890,0.819,1.493,0.693,0.575,0.096,0.031
57,58,Northern Cyprus,5.835,1.229,1.211,0.909,0.495,0.179,0.154
62,63,Estonia,5.739,1.200,1.532,0.737,0.553,0.086,0.174
64,65,Peru,5.663,0.934,1.249,0.674,0.530,0.092,0.034
75,76,Hong Kong,5.430,1.405,1.290,1.030,0.524,0.246,0.291
76,77,Portugal,5.410,1.188,1.429,0.884,0.562,0.055,0.017
79,80,Lebanon,5.358,0.965,1.179,0.785,0.503,0.214,0.136
85,86,China,5.246,0.989,1.142,0.799,0.597,0.029,0.103
94,95,Vietnam,5.103,0.715,1.365,0.702,0.618,0.177,0.079
115,116,Sri Lanka,4.471,0.918,1.314,0.672,0.585,0.307,0.050

In [28]:
#9.2 Number of the countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median
map6 = len(world_hpy[(world_hpy['Freedom to make life choices']> world_hpy['Freedom to make life choices'].median()) & (world_hpy['Healthy life expectancy']> world_hpy['Healthy life expectancy'].median())])

print("There are ",map6," countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median.")

There are  47  countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median.

# **PART- 2**

**Set of Questions on the passenger_demographics.csv and passenger_survival.csv** **(25 Pts)**

**Dataset Path: "Data/passenger_demographics.csv" and "Data/passenger_survival.csv"**

# Q1. Data Merging and Consistency Checking


1. Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset? **(3 Pts)**
2. Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame. **(3 Pts)**
3. Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders. **(3 Pts)**
4. Analyze the effect of age on survival probability. Determine whether age significantly affects the probability of survival. Use statistical techniques to explore this relationship.(use binning) **(4 Pts)**
5. Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival. **(4 Pts)**
6. Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate. **(4 Pts)**
7. Evaluate the correlation between Fare and Survival. Determine if there is a correlation between the fare paid and the survival status of the passengers. **(4 Pts)**

In [29]:
#1 Merges the datasets on PassengerId into a single DataFrame and prints the number of rows in the merged dataset.
pass_dmg = pd.read_csv('Data/passenger_demographics.csv')
pass_srv = pd.read_csv('Data/passenger_survival.csv')

pass_merged_df = pd.merge(pass_srv, pass_dmg, on ='PassengerId')
print("The number of rows in the merged dataset is: ",len(pass_merged_df))

The number of rows in the merged dataset is:  891

In [30]:
#2.1 Consistency check for duplicated rows.

num_duplicates_before = pass_merged_df.duplicated().sum()
pass_merged_df.drop_duplicates(inplace=True)
# Inplace=True tells the function to modify the ted_main DataFrame directly, without creating a new copy. 
num_duplicates_after = pass_merged_df.duplicated().sum()

print("Number of duplicate rows before removal:", num_duplicates_before)
print("Number of duplicate rows after removal:", num_duplicates_after) 

pass_merged_df.shape

Number of duplicate rows before removal: 0
Number of duplicate rows after removal: 0

(891, 9)

In [31]:
#2.2  A summary of the findings and their details (average, mean, etc.) of each feature in the merged DataFrame .
pass_merged_df.describe(include='all')

,PassengerId,Survived,Fare,Embarked,Pclass,Sex,Age,SibSp,Parch
count,891.000000,891.000000,891.000000,889,891.000000,891,714.000000,891.000000,891.000000
unique,NaN,NaN,NaN,3,NaN,2,NaN,NaN,NaN
top,NaN,NaN,NaN,S,NaN,male,NaN,NaN,NaN
freq,NaN,NaN,NaN,644,NaN,577,NaN,NaN,NaN
mean,446.000000,0.383838,32.204208,NaN,2.308642,NaN,29.699118,0.523008,0.381594
std,257.353842,0.486592,49.693429,NaN,0.836071,NaN,14.526497,1.102743,0.806057
min,1.000000,0.000000,0.000000,NaN,1.000000,NaN,0.420000,0.000000,0.000000
25%,223.500000,0.000000,7.910400,NaN,2.000000,NaN,20.125000,0.000000,0.000000
50%,446.000000,0.000000,14.454200,NaN,3.000000,NaN,28.000000,0.000000,0.000000
75%,668.500000,1.000000,31.000000,NaN,3.000000,NaN,38.000000,1.000000,0.000000
max,891.000000,1.000000,512.329200,NaN,3.000000,NaN,80.000000,8.000000,6.000000

In [32]:
#3 Determines the survival rate for each passenger class and gender. Analyzes how the survival rate varies among different classes (Pclass) and genders by comparing their mean values.

print(pass_merged_df.groupby(["Pclass", "Sex"])["Survived"].mean()) 
# Pclass 1 has a higher survival rate than the other classes.
# Females also has a higher survival rate compared to males.

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [33]:
#4 Analyzes the effect of age on survival probability by using binning method.

# Creates age bins
age_bins = [0, 18, 30, 45, 60, 100]
pass_merged_df['Age_Bin'] = pd.cut(pass_merged_df['Age'], bins=age_bins, labels=['0-17', '18-29', '30-44', '45-59', '60+'])

survival_by_age_bn = pass_merged_df.groupby('Age_Bin')[['Survived']].mean()
print(survival_by_age_bn)

# The survival rate generally decreases with age.

         Survived
Age_Bin
0-17     0.503597
18-29    0.355556
30-44    0.425743
45-59    0.407407
60+      0.227273

C:\Users\Seyma\AppData\Local\Temp\ipykernel_16216\1862172566.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_age_bn = pass_merged_df.groupby('Age_Bin')[['Survived']].mean()

In [34]:
#5 Investigates the impact of family size on survival. 

pass_merged_df['FamilySize'] = pass_merged_df['SibSp'] + pass_merged_df['Parch']
pass_merged_df.groupby('FamilySize')["Survived"].mean()

# Larger families tend to have lower survival rates.

FamilySize
0     0.303538
1     0.552795
2     0.578431
3     0.724138
4     0.200000
5     0.136364
6     0.333333
7     0.000000
10    0.000000
Name: Survived, dtype: float64

In [35]:
#6 Determines the most common embarkation point among survivors. Find outs which embarkation point (C, Q, or S) had the highest survival rate. 

emb_point = pass_merged_df.groupby('Embarked')["Survived"].mean()
highest_survival_point = emb_point.idxmax()
print("Embarkation point '",highest_survival_point,"' had the highest survival rate.")

Embarkation point ' C ' had the highest survival rate.

In [36]:
#7 Evaluates the correlation between Fare and Survival.
 
# Creates fare bins
fare_bins = [0, 100, 200, 300, 400, 500, 600]
pass_merged_df['Fare_Bin'] = pd.cut(pass_merged_df['Fare'], bins=fare_bins, labels=['0-99', '100-199', '200-299', '300-399', '400-499', '500+'])

survival_by_fare_bn = pass_merged_df.groupby('Fare_Bin')[['Survived']].mean()
print(survival_by_fare_bn) 

correlation = pass_merged_df['Fare'].corr(pass_merged_df['Survived'])
print("Correlation between Fare and Survival:", correlation)

# There seems to be a little correlation between fares and survive chanses.

          Survived
Fare_Bin
0-99      0.366950
100-199   0.757576
200-299   0.647059
300-399        NaN
400-499        NaN
500+      1.000000
Correlation between Fare and Survival: 0.25730652238496227

C:\Users\Seyma\AppData\Local\Temp\ipykernel_16216\507810218.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_fare_bn = pass_merged_df.groupby('Fare_Bin')[['Survived']].mean()

# **PART- 3**

**Set of Questions on SQL - using sqlite3 library!**

**Dataset Path: "Data/supermarket_sales.csv"**


The Supermarket Sales Dataset is a comprehensive dataset designed to provide insights into the sales performance of a supermarket.

We want to store this data in a relational database, with the following table schemas:

# Tables

## 1. Branches Table

| Column   | Type  | Key      | Description                              |
|----------|-------|----------|------------------------------------------|
| BranchID | INTEGER  | PRIMARY  | Unique identifier for each branch        |
| Branch | TEXT  |            |    Name of the supermarket branch        |
| City     | TEXT  |          | City where the branch is located         |



## 2. Products Table

| Column      | Type  | Key      | Description                               |
|-------------|-------|----------|-------------------------------------------|
| ProductID | INTEGER  | PRIMARY  | Unique identifier for each product line   |
| ProductLine | TEXT  |          | Category of the product |



## 3. Orders Table

| Column        | Type  | Key      | Description                                    |
|---------------|-------|----------|------------------------------------------------|
| OrderID       | TEXT  | PRIMARY  | Unique identifier for each order               |
| BranchID      | INTEGER  |   FK       | Identifier for the branch of the order    |
| ProductID   | INTEGER  |      FK    | Identifier linking to Products table ordered                      |
| Quantity      | INTEGER |        | Number of units ordered                        |
| UnitPrice   | REAL  |          | Price per unit of the product             |Total         | REAL  |          | Total sales value for the order               |
| OrderDate     | TEXT  |          | Date when the order was placed                |
| PaymentMethod | TEXT  |          | Method used for payment                       |
| CustomerType  | TEXT  |          | Type of customer (e.g., Member, Normal)     |
| Gender        | TEXT  |          | Gender of the customer                        |

Summary of Table Structures

* Branches Table contains information about different supermarket branches.

* Products Table details the various products available for purchase.
* Orders Table records the transactions made, linking products and branches to specific purchases.

# **Questions** **(35 Pts)**

1. Read the csv file and create this DB **(10 Pts)**
2. Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement. **(4 Pts)**
3. Find the total revenue generated for each branch by product line **(4 Pts)**
4. Find the total sales for each branch **(3 Pts)**
5. Determine the number of orders placed by each gender **(3 Pts)**
6. List the product lines sold in each branch and the number of orders **(4 Pts)**
7. Find the highest quantity sold for a single order and the corresponding product line **(4 Pts)**
8. Check for duplicated invoices **(3 Pts)**

In [3]:
#1 Reads the csv file and creates a DB.


# Creates the Branches table
df = pd.read_csv("Data/supermarket_sales.csv")
branches_df = df[['Branch', 'City']].drop_duplicates().reset_index(drop=True) 
branches_df['BranchID'] = range(1,len(branches_df)+1)

conn =sqlite3.connect("Data/db_tables.db")
c = conn.cursor() 

c.execute("DROP TABLE IF EXISTS Branches")
c.execute("""CREATE TABLE Branches(
BranchID INTEGER,
Branch TEXT NOT NULL,
City TEXT NOT NULL,
PRIMARY KEY (BranchID))""")

branches_df.to_sql("Branches", conn, index=False, if_exists='append')
# The index=False argument prevents the DataFrame index from being added as a column in the table


# Creates the Products table 
products_df = df[['Product line']].drop_duplicates().reset_index(drop=True)
products_df = products_df.rename(columns={'Product line': 'ProductLine'})  
products_df['ProductID'] = range(1, len(products_df)+1)

conn1 =sqlite3.connect("Data/db_tables.db")
c1 = conn1.cursor() 

c1.execute("DROP TABLE IF EXISTS Products")
c1.execute("""CREATE TABLE Products(
ProductID INTEGER,
ProductLine TEXT NOT NULL,
PRIMARY KEY (ProductID))""")

products_df.to_sql("Products", conn1, index=False, if_exists='append')


# Creates the Orders table 
orders_df = df[['Invoice ID', 'Branch', 'Product line', 'Quantity', 'Unit price', 'Date', 'Payment', 'Customer type', 'Gender', 'Total' ]].drop_duplicates().reset_index(drop=True)
orders_df = orders_df.rename(columns={'Invoice ID': 'OrderID',
                                      'Product line': 'ProductLine',
                                      'Unit price': 'UnitPrice',
                                      'Date': 'OrderDate',
                                      'Payment': 'PaymentMethod',
                                      'Customer type': 'CustomerType'})  

# Adds BranchID and ProductID by mapping
orders_df = orders_df.merge(branches_df[['Branch', 'BranchID']])
orders_df = orders_df.merge(products_df[['ProductLine', 'ProductID']]) 

# Drops the unnecessary columns
orders_df = orders_df.drop(columns=['ProductLine'])
orders_df = orders_df.drop(columns=['Branch'])

conn2 =sqlite3.connect("Data/db_tables.db")
c2 = conn2.cursor() 

c2.execute("DROP TABLE IF EXISTS Orders")
c2.execute("""CREATE TABLE Orders (
    OrderID TEXT,
    BranchID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER,
    UnitPrice REAL,
    OrderDate TEXT,
    PaymentMethod TEXT,
    CustomerType TEXT,
    Gender TEXT,
    Total REAL,
    PRIMARY KEY (OrderID))""")
 
orders_df.to_sql("Orders", conn2, index=False, if_exists='append')

conn.close()
conn1.close()
conn2.close()

In [14]:
#2 This is a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement.

conn3 =sqlite3.connect("Data/db_tables.db")
c3 = conn3.cursor() 

c3.execute(""" SELECT P.ProductLine, SUM(O.Quantity) AS TotalQuantity
FROM Products P, Orders O
JOIN Orders ON P.ProductID = O.ProductID 
GROUP BY P.ProductLine 
ORDER BY TotalQuantity DESC 
LIMIT 3;
""")

conn3.close()

In [15]:
#3 Find sthe total revenue(total gelir) generated for each branch by product line

conn4 =sqlite3.connect("Data/db_tables.db")
c4 = conn4.cursor()

c4.execute(""" SELECT B.Branch, P.ProductLine, SUM(O.Total) AS Revenue
FROM Orders O 
JOIN Branches B ON B.BranchID = O.BranchID
JOIN Products P ON P.ProductID = O.ProductID 
GROUP BY B.Branch, P.ProductLine
""")

conn4.close()

In [16]:
#4 Finds the total sales for each branch
conn5 =sqlite3.connect("Data/db_tables.db")
c5 = conn5.cursor()

c5.execute(""" SELECT B.Branch, SUM(O.Quantity) AS TotalSales
FROM Orders O 
JOIN Branches B ON B.BranchID = O.BranchID 
GROUP BY B.Branch
""")

conn5.close()

In [17]:
#5 Determines the number of orders placed by each gender
conn5 =sqlite3.connect("Data/db_tables.db")
c5 = conn5.cursor()

c5.execute(""" SELECT O.Gender, SUM(O.Quantity) AS TotalOrder
FROM Orders O  
GROUP BY O.Gender
""")

conn5.close()

In [18]:
#6 Lists the product lines sold in each branch and the number of orders
conn5 =sqlite3.connect("Data/db_tables.db")
c5 = conn5.cursor()

c5.execute(""" SELECT B.Branch, P.ProductLine, SUM(O.Quantity) AS TotalOrder
FROM Orders O
JOIN Branches B ON B.BranchID = O.BranchID
JOIN Products P ON P.ProductID = O.ProductID 
GROUP BY B.Branch, P.ProductLine
""")

conn5.close()

In [19]:
#7 Finds the highest quantity sold for a single order and the corresponding product line
conn5 =sqlite3.connect("Data/db_tables.db")
c5 = conn5.cursor()

c5.execute(""" SELECT P.ProductLine, MAX(O.Quantity) AS HighestQuantity
FROM Orders O 
JOIN Products P ON P.ProductID = O.ProductID    
""")

conn5.close()

In [20]:
#8 Checks for duplicated invoices
conn5 =sqlite3.connect("Data/db_tables.db")
c5 = conn5.cursor()

c5.execute(""" SELECT OrderID, COUNT(*) AS DuplicateCount
FROM Orders O
GROUP BY OrderID
HAVING COUNT(*) > 1;  
""")

conn5.close()

# SUBMIT FORMAT

* **<-zip>**
  - **studentID_name_surname_hw1.ipynb**

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone else’s work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.